<div class="container" style="margin-top: 10%;">
    <div class="col-md-12 mx-auto">
        <h2 class="text-white text-center">Trouvez un covoiturage!</h2>
        <form id="home-form" (submit)="researchTravels(f, $event)" #f="ngForm" class="form-inline" ngNativeValidate>
            <div class="input-group  form-group-no-border mr-2 input-lg">
                 <span class="input-group-addon mb-2  mb-sm-0">
                     <i class="fa fa-map-marker"></i>
                 </span>
                <div class="demo">
                    <ng4geo-autocomplete [userSettings]="{
                                         inputPlaceholderText: 'Ville',
                                         geoTypes:['(cities)'],
                                         showSearchButton:false,
                                         showRecentSearch: false,
                                         geoCountryRestriction: ['fr']
                    }" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
                </div>
            </div>
            <div class="input-group form-group-no-border mr-2 input-lg">
                <span class="input-group-addon mb-2  mb-sm-0">
                    <i class="fa fa-map-marker"></i>
                </span>
                <div class="demo">
                    <ng4geo-autocomplete [userSettings]="{
                                         inputPlaceholderText: 'Ville',
                                         geoTypes:['(cities)'],
                                         showRecentSearch: false,
                                         showSearchButton:false,
                                         geoCountryRestriction: ['fr']
                    }" (componentCallback)="autoCompleteCallback2($event)"></ng4geo-autocomplete>
                </div>
            </div>
            <div class="input-group form-group-no-border mr-2 input-lg">
                <span class="input-group-addon  mb-2 mb-sm-0">
                    <i class="fa fa-calendar"></i>
                </span>
                <input class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Date"
                       name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
                       [minDate]="minDate">
            </div>

            <button type="submit" class="btn btn-orange btn-lg ml-1 mt-sm-2" id="search" style="border-radius: 1000em;">Chercher</button>
        </form>
    </div>
</div>