<header class="bg-light text-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="pt-1"><i class="fa fa-gear"></i> Dashboard</h2>
            </div>
        </div>
    </div>
</header>

<section *ngIf="travels" class="py-4 mb-1">
    <div class="container">
        <div class="row">
            <div class="col-md-3" routerLink="/travels" data-toggle="tooltip" data-placement="top"
                 title="Liste des prochains trajets">
                <div class="card card-body" style="color: #73787B; border-radius: 0; cursor: pointer;">
                    Prochains trajets
                    <p class="card-text h4">
                        <i class="fa fa-map-marker text-info"></i>&nbsp;
                        <span class="badge badge-pill badge-light text-info px-4 py-1 pull-right">
                            {{travels.length}}
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-body" style="color: #73787B; border-radius: 0; cursor: pointer;">
                    Nombre total de trajets
                    <p class="card-text h4">
                        <i class="fa fa-map-pin text-success"></i>&nbsp;
                        <span class="badge badge-pill badge-light text-success px-4 py-1 pull-right">
                            {{nbTravels}}
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-body" style="color: #73787B; border-radius: 0; cursor: pointer;">
                    Revenus
                    <p class="card-text h4">
                        <i class="fa fa-money text-warning"></i>&nbsp;
                        <span class="badge badge-pill badge-light text-warning px-4 py-1 pull-right">
                            {{revenues | currency : 'EUR'}}
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-3" *ngIf="authService.loggedIn() && authService.user.role === 'admin'"
                 routerLink="/users" data-toggle="tooltip" data-placement="top" title="Voir les membres du site">
                <div class="card card-body" style="color: #73787B; border-radius: 0; cursor: pointer;">
                    Membres
                    <p class="card-text h4">
                        <i class="fa fa-user text-danger"></i>&nbsp;
                        <span class="badge badge-pill badge-light text-danger px-4 py-1 pull-right">
                            {{nbUsers}}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
                <button class="add-button btn btn-primary btn-block"
                        (click)="addtraveltype.open(addtraveltype.contenttraveltype)">
                    <i class="fa fa-plus"></i>
                    Ajouter un trajet-type
                </button>
            </div>
            <div class="col-md-3">
                <button class="add-button btn btn-success btn-block" *ngIf="nbCars !== 0"
                        (click)="addtravel.open(addtravel.content)">
                    <i class="fa fa-plus"></i>
                    Proposer un trajet
                </button>
            </div>
            <div class="col-md-3">
                <button class="add-button btn btn-warning btn-block" (click)="addcar.open(addcar.contentcar)">
                    <i class="fa fa-plus"></i>
                    Ajouter une voiture
                </button>
            </div>
        </div>
    </div>
</section>

<div class="container mb-3">
    <div *ngIf="travels" class="row">
        <div class="col-md-9 mb-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home"
                       aria-selected="true">Conducteur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Passager</a>
                </li>
            </ul>
            <div class="tab-content mt-3 mb-4" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="driver-tab" data-toggle="tab" href="#driver" role="tab"
                               aria-controls="driver"
                               aria-selected="true">Prochains trajets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="driver-history-tab" data-toggle="tab" href="#driver-history"
                               role="tab"
                               aria-controls="driver-history" aria-selected="false">Historique</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3 mb-4" id="myTabContent2">
                        <div class="tab-pane fade show active" id="driver" role="tabpanel" aria-labelledby="driver-tab">
                            <div class="card card-body mb-2 w-100">
                                <div class="card-header">
                                    <h4>Prochains trajets (conducteur)</h4>
                                </div>
                                <table class="table table-striped table-responsive-md">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Depart</th>
                                        <th scope="col">Destination</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Passagers</th>
                                        <th scope="col">Places disponibles</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let travel of travels | paginate: { itemsPerPage: 5, currentPage: p }"
                                        [ngClass]="{'bg-danger': travel.isOnline==false}">
                                        <td>{{travel.departure}}</td>
                                        <td>{{travel.destination}}</td>
                                        <td>{{travel.date | date :'dd-MM-yyy'}}</td>
                                        <td>{{travel.passengers.length}}</td>
                                        <td>{{travel.placesAvailable}}</td>
                                        <td>
                                            <a href="#" routerLink="/travel-details/{{travel._id}}"
                                               class="btn btn-secondary">
                                                <i class="fa fa-angle-double-right"></i> Détails
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
                        </div>
                        <div class="tab-pane fade show" id="driver-history" role="tabpanel"
                             aria-labelledby="driver-history-tab">
                            <div class="card card-body mb-2 w-100">
                                <div class="card-header">
                                    <h4>Historique trajets (conducteur)</h4>
                                </div>
                                <table class="table table-striped table-responsive-md">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Depart</th>
                                        <th scope="col">Destination</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Passagers</th>
                                        <th scope="col">Places disponibles</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let travel of allTravels | paginate: { itemsPerPage: 5, currentPage: p2 }"
                                        [ngClass]="{'bg-danger': travel.isOnline==false}">
                                        <td>{{travel.departure}}</td>
                                        <td>{{travel.destination}}</td>
                                        <td>{{travel.date | date :'dd-MM-yyy'}}</td>
                                        <td>{{travel.passengers.length}}</td>
                                        <td>{{travel.placesAvailable}}</td>
                                        <td>
                                            <a href="#" routerLink="/travel-details/{{travel._id}}"
                                               class="btn btn-secondary">
                                                <i class="fa fa-angle-double-right"></i> Détails
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="nav nav-tabs" id="myTab3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="passenger-tab" data-toggle="tab" href="#passenger" role="tab"
                               aria-controls="passenger"
                               aria-selected="true">Prochains trajets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="passenger-history-tab" data-toggle="tab" href="#passenger-history"
                               role="tab"
                               aria-controls="passenger-history" aria-selected="false">Historique</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3 mb-4" id="myTabContent3">
                        <div class="tab-pane fade show active" id="passenger" role="tabpanel"
                             aria-labelledby="passenger-tab">
                            <div class="card mb-2">
                                <div class="card-header">
                                    <h4>Prochains trajets (passager)</h4>
                                </div>
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Depart</th>
                                        <th scope="col">Destination</th>
                                        <th scope="col">Date</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let travel of travelsAsPassenger | paginate: { itemsPerPage: 5, currentPage: p3 }"
                                        [ngClass]="{'bg-danger': travel.isOnline==false}">
                                        <td>{{travel.departure}}</td>
                                        <td>{{travel.destination}}</td>
                                        <td>{{travel.date | date :'dd-MM-yyy'}}</td>
                                        <td><a href="#" routerLink="/travel-details/{{travel._id}}"
                                               class="btn btn-secondary"><i
                                                class="fa fa-angle-double-right"></i> Détails</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="p3 = $event"></pagination-controls>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="passenger-history" role="tabpanel"
                             aria-labelledby="passenger-history-tab">
                            <div class="card mb-2">
                                <div class="card-header">
                                    <h4>Historique trajets (passager)</h4>
                                </div>
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Depart</th>
                                        <th scope="col">Destination</th>
                                        <th scope="col">Date</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let travel of travelsHistoryAsPassenger | paginate: { itemsPerPage: 5, currentPage: p4 }"
                                        [ngClass]="{'bg-danger': travel.isOnline==false}">
                                        <td>{{travel.departure}}</td>
                                        <td>{{travel.destination}}</td>
                                        <td>{{travel.date | date :'dd-MM-yyy'}}</td>
                                        <td><a href="#" routerLink="/travel-details/{{travel._id}}"
                                               class="btn btn-secondary"><i
                                                class="fa fa-angle-double-right"></i> Détails</a></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <pagination-controls (pageChange)="p4 = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MODAL-->
    <app-add-travel-type #addtraveltype></app-add-travel-type>
    <app-add-travel #addtravel></app-add-travel>
    <app-add-car #addcar></app-add-car>
