<ng-template #contenttraveltype let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header justify-content-center bg-primary">
            <h5 class="modal-title title text-white">Ajout Trajet-Type</h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form ngNativeValidate #f="ngForm" (submit)="addTravelType(f)">
                <div class="form-group">
                    <label for="price">Tarif/km</label>
                    <input [(ngModel)]="travelType.price" type="text" class="form-control" id="price" name="price"
                           required>
                </div>
                <div class="form-group">
                    <label for="distance">Distance Max (en km)</label>
                    <input [(ngModel)]="travelType.distanceMax" class="form-control" id="distance" name="distance"
                           value="'0">
                </div>
                <!--<button type="submit" class="btn btn-primary">Valider</button>-->
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" id="close1">Fermer</button>
                    <button type="submit" class="btn btn-primary" id="submit1">Valider</button>
                </div>
            </form>
        </div>

    </div>
</ng-template>