.card-chart {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 0;
}

.stats-members {
    width: 75px;
    height: 75px;
    border: 3px solid #007bff;
    font-size: 3em;
}